html,body {
    height:100%;
    
}  

/* Шапка сайта */  
.total-header {
    padding-left: 3% !important;
    padding-right: 3% !important;
}

  .top-navigation{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #444;
        z-index: 9999;
        height: 40px;
        
      }
     
.top-navigation ul {
    text-align: center;
    padding-left: 0px;
}

/* Аватар-Меню */	  
      .navlist li {
        position: relative;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
      }

.navlist li a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #ccc;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 45px;
  text-decoration: none;
}
.top-navigation .navlist li a:hover {
  color: white;
}
li.selected a{
    color: #cf955f;
}
      
      .top-navigation .social-links {
        text-align: left;
        padding-top: 9px;
        white-space: nowrap;
      }
      .top-navigation .social-links a {
        display: inline-block;
        margin: 0 5px;
        color: #aaa;
      }
      .top-navigation .social-links a:hover {
        color: #e15d5d;
      }

	  
	  
.logo {
    padding-top: 50px; 
    height: 160px;
    position: absolute;
    transform: scale(0.5);
}

/* стили меню для мобильной версии */
#mySidenav  {
    display: none;
    margin-top: 40px;
    height: 100%;
    width: 150px;
}
#top-hidden-menu{
    position: absolute;
    z-index: 1;
    width: 300px;
}

.sidenav a {
    display: block;
    position: relative;
    font-size: 1em;
    font-family: 'Open sans', sans-serif;
	
	background: #2e3233;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #ffffff;
	border-bottom: 2px solid #3a3f40;
	text-decoration: none;
	transition: 0.3s;
	z-index: 9999;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #CF955F;
}

#menu-trigger{
font-size:30px;
width: 30%;
cursor:pointer;
color: #ffffff;
}

#menu-close-trigger{
display: none;
font-size:30px;
cursor:pointer;
width: 30%;
color: #ffffff;
}
/* стили меню для мобильной версии */

/* DROPDOWN MENU ON AVATAR */
#avatar-image-dropdown {
    padding-top: 5px;
    
}


#avatar-image-dropdown .dropdown-menu {
    padding: 0px;
    display: block;
    visibility: hidden;
    transform: scale(0);
    
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media only screen and (max-width:990px) {
    #avatar-image-dropdown {
        
    }
    
}
    




#avatar-image-dropdown.open .dropdown-menu {
    visibility: visible;
    transform: scale(1);
    transform-origin: top right;
}

#avatar-image-dropdown.open .dropdown-menu button.dropdown-item {
    padding: 0px;
    padding-left: 10px;
    height: 40px;
    
    font-weight: bold;
    font-size: 1.2em;
}

#avatar-image-dropdown.open .dropdown-menu a.dropdown-item {
    margin: 0px;
    text-align: left;
    padding-left: 10px;
    height: 40px;
    
    font-weight: bold;
    font-size: 1.2em;
    color: #373A3C;
    
}

img.login-icon {
    height: 0.9em;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 5px;
}

/* всплывающее окно логина */

.header-profile {
    display: inline-block;
}

.header-profile-image {
    
    cursor: pointer;
    
    border-radius: 50%;
    height: 30px;
    
}

#login {
        
             
}

.fadein {
        
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
}

	  
	  
	  
	  
/* LOGIN WINDOW */

#login {
    
}

.loginSocial {
    margin-top: 20px;
    padding-bottom: 20px;
}

.loginSocialLink {
    width: 40px;
    height: 40px;
    background: grey;
    display: inline-block;

}

.loginBlock .cd-form {
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #337AB7;
}

.loginBlock .cd-form fieldset {
    margin-top: 0px;
    margin-bottom: 0px;
}

.loginBlock .cd-form .icon:last-child {
    margin-bottom: 10px;
}

.loginBlock .cd-form ul {
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
    display: inline-block;
}


.loginBlock .cd-form ul label {
    margin-bottom: 0px;
    font-weight: 300;
}

.loginBlock a.register-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
    
}

.loginBlock .btn-login{
    border-radius: 0px;
}

p.p-register-button {
    height: 35px;
}

.modal-dialog {
    background: white;
}

	  /* _________Шапка сайта__________ */


  
  /*-------------Поиск------------*/

#section-search {
    padding-bottom: 10px !important;
}

#section-search input[type="search"] {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    
    
}




  
   /* Вывод записей
      ----------------------------------------------- */
       .grid-item{
       margin: 3em;
	   }
	  

.postfooter {
	padding-bottom: 10px;
	font-size: 18px;
	background: #F7F8F9;
	padding-top: 0px;
    
}

.postfooter .read {
    position: relative;
	z-index: 9;
	float: right;
	font-size: 12px;
	padding: 10px 26px;
	padding-left: 32px;
	color: #F2F2F2;
      margin-top: 0px;
   
	background: #555657;
	/* background: #DB3D3E; */
	font-weight: 700;
	text-transform: uppercase;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	letter-spacing: 1px;
	font-family: Arial, sans-serif;
	margin-right: -19px;
	border-right: 8px solid rgba(0,0,0,.15);
	border-radius: 0 3px 0 0;
	-webkit-transform: perspective(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	-moz-transform: perspective(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	-o-transform: perspective(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	-ms-transform: perspective(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	transform: perspective(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.postfooter .read:hover {
	margin-right: -27px;
	-webkit-transform: perspective(120px) rotateX(0deg) rotateY(-32deg) rotateZ(0deg);
	-moz-transform: perspective(120px) rotateX(0deg) rotateY(-32deg) rotateZ(0deg);
	-o-transform: perspective(120px) rotateX(0deg) rotateY(-32deg) rotateZ(0deg);
	-ms-transform: perspective(120px) rotateX(0deg) rotateY(-32deg) rotateZ(0deg);
	transform: perspective(120px) rotateX(0deg) rotateY(-32deg) rotateZ(0deg);
}
.postfooter .read:before {
	content: '';
	position: absolute;
	margin-left: -33px;
	margin-top: -14px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 44px 0 0 15px;
	border-color: transparent transparent transparent #F7F8F9;
}
 .postfooter .read:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: -7px;
	margin-bottom: -12px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px 8px 0 0;
	border-color: #AFAFAF transparent transparent transparent;
}
 .postfooter .read:hover {
	opacity: .6;
}

.socialpost .icons {
  display: inline-block;
  padding-top: 4px;
}

.socialpost a .texts {
  width: 62px;
  display: inline-block;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: absolute;
  text-align: center;
  margin-left: -47px;
  margin-top: -35px;
  font-size: 12px;
  background: #E1382D;
  border-radius: 2px;
  color: #FFFFFF;
  opacity: 0;
}

.socialpost a:hover .texts {
  z-index: 999;
  opacity: 1;
}
.linker {
	color: #aaa;
	padding: 8px 0px;
	margin-top: 0;
	
    font-size: 14px;
    
}

.socialpost a i {
  color: #a0a0a0 !important;
}

.socialpost i {
  margin-right: 12px;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  opacity: .8;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}



.postfooter .read:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -7px;
  margin-bottom: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 8px 0 0;
  border-color: #AFAFAF transparent transparent transparent;
}
          

.socialpost {
  line-height: 28px;
  color: #000000;
  float: left;
  margin-top: 4px;
}
             
.linker i.fa.fa-comment {
  margin-right: 5px;
  color: #aaa;
}
/* Вывод записей
      ----------------------------------------------- */

  
   /* мобильная версия
      ----------------------------------------------- */
 /*@media only screen and (max-width:491px) {
.article-wrap{
display: block;
width: 95%;
margin: auto;
}

.navlist{
display: none;}
 }
 
@media only screen and (max-width:767px) {
.article-wrap{
display: block;
width: 85%;
margin: auto;
}
.navlist{
display: none;}
}
  
  
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
.article-wrap{
width: 40%;
margin-left: 5%;
margin-right: 2%;
}
 	 
	 }
*/	

@media only screen and (min-width: 1030px) {
  #menu-trigger {
    display: none;  
  }
    
}
/*
@media only screen and (max-width:491px) {
    .navlist {
        display: none;
    }
}
@media only screen and (max-width:767px) {
    .navlist{
        display: none;
    }
    .loginBlock h1 {
        padding-left: none;
    }
}
@media only screen and (max-width:1030px) {
    .navlist{
        display: none;
    }
}

*/

   /* мобильная версия
      ----------------------------------------------- */	 
    

/*Каркас галереи и картинок*/	  


@media screen and (min-width: 1px) and (max-width: 767px){
    #columns[data-columns]::before {
        content: '2 .col-xs-6';
    }
}
@media screen and (min-width:768px) and (max-width: 991px){
    #columns[data-columns]::before {
        content: '3 .col-sm-4';
    }
}
@media screen and (min-width:992px) and (max-width: 9999px){
    #columns[data-columns]::before {
        content: '4 .col-md-3';
    }
}




.column-page {
    -webkit-column-span: all;
    column-span: all;
}

section.articlesGallery {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 3%;
    padding-right: 3%;
    
    
}

.columns {
    min-height: 1500px;
    
    -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;

    
    -webkit-column-width: 400px;
     -moz-column-width: 400px;
          column-width: 400px;
    
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
}

.container-fluid-my {
    padding: 3% !important;
}

.article-wrap {
    display: inline-block;
    width: 100%;
    
    margin-bottom: 30px;    
}

.main-page-main-image {
   
    
}


.post-body {
    
    -webkit-box-shadow: 0px 1px 2px grey;
    -moz-box-shadow: 0px 1px 2px grey;
    box-shadow: 0px 1px 2px gray;
    margin-top: -20px;
    padding: 10px;
    
}

.articlesGallery .post-entry {
    min-height: 200px;
    max-height: 300px;
    overflow: hidden;
}

.image-wrap {
    position: relative;
    overflow: hidden;
    
}

.image-wrap > img {
    width: 100%;
    position: relative;
    z-index: -10;
        
}


.image-thumb > img {
    display: block;
    float: left;
    width: 40px;
    border-radius: 50%;
    
    margin-bottom: 4px;
    margin-left: 10px;
        
} 

.image-thumb > cite {
    display: block;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 20px;
        
}

.image-thumb > cite > span{
    float: right;
    
}

.image-wrap .post-author {
    position: absolute;
    bottom: 0px;
    width: 100%;
    
    
}
.image-wrap .post-author::before {
    content: " ";
    width: 100%;
    height: 48px;
    position: absolute;
    bottom: 0px;
    background: white;
    opacity: 0.6;
    
    
   z-index: -9;
    
}
/* Каркас галереи и картинок*/

/* Анимация блока статьи */

.articleImageAnimate {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    display: inline-block;
    position: absolute;
    right: 110%;
    top: 0;
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    
    z-index: -10;
}

.article-wrap:hover .articleImageAnimate {
    transform: skew(-45deg) translate(210%);
}



.articleCathegoryAnimate {
    display: inline-block;
    position: absolute;
    top: -40px;
    
    background-color: #e15d5d;
    margin-left: 10px;
            
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    letter-spacing: 0.02em;
        
}

.articleCathegoryAnimate a, .articleCathegoryAnimate a:hover, .articleCathegoryAnimate a:visited, .articleCathegoryAnimate a:active, .articleCathegoryAnimate a:link{
    text-decoration: none;
    font-weight: bold;
    color: white;
    
    display: block;
    padding: 4px 8px;
}

.article-wrap:hover .articleCathegoryAnimate {
    transform: translateY(50px);
}

.articleCathegoryAnimate:hover {
    cursor: pointer;
    background-color: darkslategray;
}

.articleCommentsAnimate {
    display: inline-block;
    position: absolute;
    width: 70px;
    top: 120px;
    right: -80px;
    box-shadow: 0px 0px 1px black;
    padding: 0px 10px;
                        
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    letter-spacing: 0.02em;
}

.articleCommentsAnimate::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: black;
    opacity: 0.7;
        
   z-index: -9;
}

.articleCommentsAnimate a, .articleCommentsAnimate a:visited, .articleCommentsAnimate a:active, .articleCommentsAnimate a:link{
    text-decoration: none;
    font-weight: bold;
    color: white;
    
    display: block;
    padding: 4px 8px;
    text-align: center;
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.articleCommentsAnimate a:first-child {
    border-bottom: 2px solid white;
    font-size: 16px;
}

.article-wrap:hover .articleCommentsAnimate{
    transform: translateX(-100px);
}

.articleCommentsAnimate:hover a{
    color: dimgray;
    border-color: dimgray;
}

.articleDateAnimate {
    display: inline-block;
    position: absolute;
    width: 70px;
    top: 30px;
    right: -120px;
    box-shadow: 0px 0px 1px black;
    padding: 0px 10px;
    
    padding-bottom: 2px;
                        
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    letter-spacing: 0.02em;
}

.articleDateAnimate::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: black;
    opacity: 0.7;
        
   z-index: -9;
}

.articleDateAnimate p {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: auto;
    
    display: block;
    padding: 4px 8px;
    
       
    text-transform: uppercase;
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.articleDateAnimate p:first-child {
    border-bottom: 2px solid white;
    font-size: 16px;
}
.articleDateAnimate p:last-child {
    
    font-size: 11px;
}

.article-wrap:hover .articleDateAnimate{
    transform: translateX(-140px);
}

.articleCommentsAnimate:hover p{
    color: dimgray;
    border-color: dimgray;
}

/*  НИЖНЕЕ МЕНЮ */

.bottomMenu {
    background: #444;
    padding-bottom: 10px !important;
}

.bottomMenu ul {
    list-style: none;
    padding: 0px;
}

.bottomMenu li:nth-child(1), .mailerHeader {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 200;
    color: white;
    text-transform: uppercase;
}

.bottomMenu li:nth-child(n+2) {
    border-top: 1px solid grey;
    padding: 5px 10px;
}

.bottomMenu a{
    text-decoration: none;
    color: #aaa;
}

.bottomMenu a:hover, .bottomMenu a:active, .bottomMenu a:link{
    text-decoration: none;
    color: grey;
}

.searchBottom {
    margin-top: 20px;
}

.searchBottom input[type='search'] {
    width: 100%;
    height: 50px;
}
.searchBottom input[placeholder]          {font-weight:bold; font-size: 16px; padding-left: 10px;}
.searchBottom input::-moz-placeholder     {font-weight:bold; font-size: 16px; padding-left: 10px;} 
.searchBottom input:-moz-placeholder      {font-weight:bold; font-size: 16px; padding-left: 10px;} 
.searchBottom input:-ms-input-placeholder {font-weight:bold; font-size: 16px; padding-left: 10px;}   


/*                  FOOTER */

footer {
    background: #444;
    padding-bottom: 10px;
    
}

footer .container {
    border-top: 1px solid grey;
    padding-top: 10px;
}

.copyright {
    font-size: 14px;
    color: #aaa;
}

.forgot-password-container {
    min-height: 1000px;
   
}


/*
================================================================
================ SINGLE ARTICLE CSS SHEET ======================
================================================================
*/

.article-body {
    
    
}

.article {
    border: 1px solid red;
        
}

.article-related {
    border: 1px solid green;
    min-height: 300px;
    padding-left: 10px;
}

.article-main-image-wrap img {
    max-height: 400px;
    padding-bottom: 20px;
}

.article-header {
    
}

.article-header em.labels {
    float: right;
    
}

.article-content {
    margin-top: 10px;
    min-height: 300px;
}

.article-footer {
    padding-top: 10px;
    
}

.article-footer .share-social{
    float: right;
    
}

.vk-share, .ok-share, .fb-share, .tw-share {
    display: inline-block;
        
}

h4.comments-title {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid black !important;
}



#showform {
display: none;	
}


/*                                                         COMMENTS */

.single-comment {
    position: relative;
    margin-bottom: 15px;
    min-height: 50px;
       
}


.single-comment-avatar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;   
    padding-top: 5px;
            
}


.single-comment-body {
    margin-left: 55px;   
    
}

.single-comment-header {
    margin-bottom: 5px;
}

.single-comment-header a, .single-comment-header a:active, .single-comment-header a:visited{
    color: #0543a8;
    text-decoration: none;
}

.single-comment-header a:hover{ 
    color: #031e4c;
}

.single-comment-header span{
   font-size: 10px;
    color: #b1b1b1;
}


.single-comment-avatar-image {
    border-radius: 50%;
    height: 40px;
    
}

.single-comment-text {
    margin-bottom: 10px;
    word-wrap: break-word;
}

.single-comment-footer {
    font-size: 13px;
    color: grey;
}

.single-comment-footer > a, .single-comment-footer > a:active, .single-comment-footer > a:visited {
    text-decoration: none;
    font-size: 13px;
    color: grey;
}

.single-comment-footer > a:hover {
    color: #404040;
}

/* reply form */

.add-comment-form {
    position: relative;
    opacity: 1;
    visibility: visible;
    margin-bottom: 50px;
            
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.add-comment-form textarea {
    box-shadow: 0px 0px 5px #aaaaaa;
    height: 35px;
    margin-top: 5px;
    
        
    -webkit-transition: all 0.4s 0.1s ease-in-out;
    -moz-transition: all 0.4s 0.1s ease-in-out;
    -ms-transition: all 0.4s 0.1s ease-in-out;
    -o-transition: all 0.4s 0.1s ease-in-out;
    transition: all 0.4s 0.1s ease-in-out;
}

.add-comment-form textarea:focus {
    height: 150px;
}


.form-hidden {
    position: absolute;
    
    opacity: 0;
    visibility: hidden;
}

.add-comment-form input[type="submit"] {
    margin-top: 5px;
    transform: scale(0.9);
}

.reply-comment {
    margin-left: 55px;
}

.comment-lenght {
    display: inline-block;
    margin-top: 5px;
    padding-top: 6px;
    padding-right: 5px;
    line-height: 20px;
    font-size: 16px;
    vertical-align: middle;
}

/*
================================================================
====================== PERSONAL      PAGE ======================
================================================================
*/

.personal-avatar {
    height: 160px;
    border-radius: 50%;
}

.divider {
    height: 100px;
}

.personal-panel {
    height: 350px;
}

#personal-data td {
    word-wrap: break-word;
    
    max-width: 400px;
    
    cursor: pointer;
}

.displayNone {
    display: none;
}

.main-page-author-name {
    color: black;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
























